.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem 1rem;
  height: 100%;
  color: white;
  text-align: center;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.15);
  }
}

.icon {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: capitalize;
}
