.categoriesList {
  display: inline-flex;
  row-gap: 8px;
  flex-direction: column;
  width: 100%;
}

.listItem {
  display: inline-block;
  width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggleBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 6px;
  background: linear-gradient(
    to left,
    var(--left-gradient-color),
    var(--right-gradient-color)
  );
  padding: 6px 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.toggleBtn:hover {
  filter: brightness(1.1);
}

.expandBtn::after {
  margin-left: 6px;
  content: '▾';
  font-size: 12px;
}

.collapseBtn::after {
  margin-left: 6px;
  content: '▴';
  font-size: 12px;
}
