.card {
  display: flex;
  position: relative;
  gap: 8px 16px;
  backdrop-filter: blur(20px);
  transition: all 0.4s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background-color: #fff;
  padding: 25px;
  min-width: 280px;
  height: 100%;
  max-height: 430px;
  overflow: hidden;

  &.grid {
    flex-direction: column;
  }

  &:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  }
}

/* Общие для grid и list */
.img {
  transition: transform 0.3s ease;
  border-radius: 15px;
  object-fit: cover;
}

.infoWrapper {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}

.title {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}

.price {
  color: #667eea;
  font-weight: 700;
  font-size: 21px;
}

.btnWrapper {
  display: grid;
  grid-template-rows: 45px;
  grid-template-columns: 1fr 45px;
  column-gap: 15px;
  margin-top: auto;
}

.wishlistBtnActive {
  background-color: rgb(194 199 242);
}

.cartBtnActive {
  border: 2px solid #764ba2;
  background: white;
  color: #764ba2;
}

/* Отличия grid */
.grid {
  .img {
    width: 100%;
    height: 200px;
  }

  .infoWrapper {
    height: 100%;
  }
}

.list {
  .img {
    width: 150px;
    height: 150px;
  }

  .infoWrapper {
    height: auto;
  }

  .btnWrapper {
    grid-template-columns: 160px 45px;
  }
}

.skeletonCartBtn,
.skeletonWishBtn {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 12px;
  height: 100%;
  font-weight: 600;
}

.skeletonWishBtn {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: #667eea;
}
