.searchWrapper {
  position: relative;
}

.search {
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.9);
  padding: 12px 20px 12px 30px;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;

  &::placeholder {
    font-family: var(--arial-font);
  }
}

.resultsPopup {
  position: absolute;
  top: 50px;
  border-radius: 20px;
  background-color: #fff;
  padding: 15px 20px;
  width: 100%;
}

.searchList {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}

.thumbNotFound {
  color: #7e7e7e;
}
