:root {
  --filter-panel-content-max-width: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(20px);
  border: var(--base-wrapper-border);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: var(--base-wrapper-bg);
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  height: fit-content;
}
