.productsList {
  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
  }

  &.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
