.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:
    opacity 1s ease,
    background 5s ease;
  background: linear-gradient(
    206deg,
    var(--left-gradient-color),
    var(--right-gradient-color)
  );
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background: linear-gradient(
      174deg,
      var(--left-gradient-color),
      var(--right-gradient-color)
    );
    opacity: 1;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.description {
  font-size: 19px;
  margin-bottom: 32px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.slideContent {
  text-align: center;
  color: white;
  z-index: 2;
}

.slideOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(102, 126, 234, 0.7),
    rgba(118, 75, 162, 0.7)
  );
  z-index: 1;
}
