.slider {
  font-family: var(--logo-font);
  position: relative;
  height: 400px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
